# Github Actions workflow to automatically package the Extension
name: Package Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip Chrome Extension
        run: |
          cd dist/chrome
          zip -r ../../chrome-extension.zip .

      - name: Zip Firefox Extension
        run: |
          cd dist/firefox
          zip -r ../../firefox-extension.zip .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: fuckPaywalls.zip
          name: Release ${{ github.ref_name }}
          draft: true
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}